*.pyc
*.py~
.DS_Store
conf.py
locale
latest_updates.json
.wnf-lang-status
*.egg-info
dist/
dontmanageerp/public/dist
dontmanageerp/docs/current
*.swp
*.swo
__pycache__
*~
.idea/
.vscode/
node_modules/
.backportrc.json