# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

dontmanageerp/accounts/               @deepeshgarg007 @ruthra-kumar
dontmanageerp/assets/                 @khushi8112 @deepeshgarg007
dontmanageerp/regional                @deepeshgarg007 @ruthra-kumar
dontmanageerp/selling                 @deepeshgarg007 @ruthra-kumar
dontmanageerp/support/                @deepeshgarg007
pos*                            

dontmanageerp/buying/                 @rohitwaghchaure
dontmanageerp/maintenance/            @rohitwaghchaure
dontmanageerp/manufacturing/          @rohitwaghchaure
dontmanageerp/quality_management/     @rohitwaghchaure
dontmanageerp/stock/                  @rohitwaghchaure
dontmanageerp/subcontracting          @rohitwaghchaure

dontmanageerp/controllers/            @deepeshgarg007 @rohitwaghchaure
dontmanageerp/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @akhilnarang
