# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

dontmanageerp/accounts/               @deepeshgarg007 @ruthra-kumar
dontmanageerp/assets/                 @anandbaburajan @deepeshgarg007
dontmanageerp/regional                @deepeshgarg007 @ruthra-kumar
dontmanageerp/selling                 @deepeshgarg007 @ruthra-kumar
dontmanageerp/support/                @deepeshgarg007
pos*                            

dontmanageerp/buying/                 @rohitwaghchaure @s-aga-r
dontmanageerp/maintenance/            @rohitwaghchaure @s-aga-r
dontmanageerp/manufacturing/          @rohitwaghchaure @s-aga-r
dontmanageerp/quality_management/     @rohitwaghchaure @s-aga-r
dontmanageerp/stock/                  @rohitwaghchaure @s-aga-r
dontmanageerp/subcontracting          @rohitwaghchaure @s-aga-r

dontmanageerp/controllers/            @deepeshgarg007 @rohitwaghchaure
dontmanageerp/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @phot0n
