# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

dontmanageerp/accounts/               @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
dontmanageerp/assets/                 @anandbaburajan @deepeshgarg007
dontmanageerp/loan_management/        @nextchamp-saqib @deepeshgarg007
dontmanageerp/regional                @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
dontmanageerp/selling                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
dontmanageerp/support/                @nextchamp-saqib @deepeshgarg007
pos*                            @nextchamp-saqib

dontmanageerp/buying/                 @rohitwaghchaure @s-aga-r
dontmanageerp/maintenance/            @rohitwaghchaure @s-aga-r
dontmanageerp/manufacturing/          @rohitwaghchaure @s-aga-r
dontmanageerp/quality_management/     @rohitwaghchaure @s-aga-r
dontmanageerp/stock/                  @rohitwaghchaure @s-aga-r
dontmanageerp/subcontracting          @rohitwaghchaure @s-aga-r

dontmanageerp/crm/                    @NagariaHussain 
dontmanageerp/education/              @rutwikhdev 
dontmanageerp/projects/               @ruchamahabal

dontmanageerp/controllers/            @deepeshgarg007 @nextchamp-saqib @rohitwaghchaure
dontmanageerp/patches/                @deepeshgarg007 @nextchamp-saqib

.github/                        @ankush
pyproject.toml                  @ankush
